VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=
VITE_WEB_BASE_URL=https://sto-network-admin.stodev.xyz
VITE_SUPABASE_AUTH_REDIRECT_URL=https://sto-network-admin.stodev.xyz/auth/callback
VITE_APP_BASE_PATH=/
